<div data-role="view" data-title="Localizar Vehículo" data-layout="main" data-model="app.mntLocalizaVehiculo" data-show="app.mntLocalizaVehiculo.onShow" data-after-show="app.mntLocalizaVehiculo.afterShow"
    id="mntLocalizaVehiculo" class="screen" data-before-show="app.mntLocalizaVehiculo.inicializa" data-use-native-scrolling="true" >
    <header data-role="header">
        <div data-role="navbar" class="header-text"><span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-align="right" class="fa fa-reply" href="components/miKia/view.html" aria-hidden="true" data-role="button"></a>
        </div>
    </header>
    <div data-role="content">
        <!-- START_CUSTOM_CODE_mntVehiculos style="background-image: url('resources/CarMenu.jpg');"-->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <ul data-role="listview" data-style="inset">
            <li>
                <input type="text" value="Text" />
            </li>
        </ul>
    </div>
    <!-- END_CUSTOM_CODE_mntVehiculos -->
</div>