<!DOCTYPE html>
<div data-role="view" data-title="Reporte Excesos" data-layout="main" data-model="app.reporteExcesos" data-show="app.reporteExcesos.onShow" data-after-show="app.reporteExcesos.afterShow"
    id="reporteExcesosScreen" class="screen" data-before-show="app.reporteExcesos.inicializa" >
    <header data-role="header">
        <div data-role="navbar" class="header-text"><span data-role="view-title"></span>
        <h1><b><span id="NoOrdenEX1" class="km-view-subtitle"></span></b></h1>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-align="right" class="fa fa-reply" href="components/ReporteAlertas/view.html" aria-hidden="true" data-role="button"></a>
        </div>
    </header>
    <ul class="form-content" data-role="listview" data-style="inset">
        <li id="objlist3" class="form-content-item">
            <div id="mapexes" class="mapView"></div>
        </li>
    </ul>
    <!-- END_CUSTOM_CODE_mntVehiculos -->
</div>