<!DOCTYPE html>
<div data-role="view" data-title="Cambio Contraseña" data-layout="main" data-model="app.cambioC" data-show="app.cambioC.onShow"
    data-after-show="app.cambioC.afterShow" id="cambioCScreen" class="screen" data-before-show="app.cambioC.inicializa">
    <header data-role="header">
        <div data-role="navbar" class="header-text"><span data-role="view-title"></span>
            <h1><b><span id="NumeroChasisCC" class="km-view-subtitle"></span></b></h1>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-align="right" class="fa fa-reply" href="components/logIn/view.html" aria-hidden="true" data-role="button"></a>
        </div>
    </header>
    <div data-role="content" class="general">
        <div class="blanco">
            <form>
                <div class="form-group">
                    <div class="col-xs-12"> <input type="email" class="form-control" id="emailCambio" placeholder="Email" onblur="ValidaMailCambio();"></div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input type="password" class="form-control" id="passwordAnt" placeholder="Password anterior"></div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input type="password" class="form-control" id="passwordNew" placeholder="Password nuevo"> </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"> <input type="password" class="form-control" id="RpasswordNew" placeholder="Repetir password"> </div>
                </div>
                <div class="button-group button-group-vertical"> <a data-role="button" class="primary" onclick="llamarcambioC();">Grabar</a> </div>
            </form>
        </div>
    </div>
</div>