<!DOCTYPE html>
<div data-role="view" data-title="Garatia" data-layout="main" data-model="app.pdfG" data-show="app.pdfG.onShow"
     id="pdfGScreen" class="screen" data-before-show="app.pdfG.inicializa">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-role="view-title"></span>
            <h1><b><span id="NumeroChasisPdfG" class="km-view-subtitle"></span></b></h1>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-align="right" class="fa fa-reply" href="components/Repuestos/view.html" aria-hidden="true" data-role="button"></a>
        </div>
    </header>
    <form>
        <div id="pdfGar"> <iframe id="ifmPdfGar"></iframe></div>
    </form>
</div>
