<!DOCTYPE html>
<div data-role="view" data-title="Reporte Tiempo Recorrido" data-layout="main" data-model="app.reporteApaEnce" data-show="app.reporteApaEnce.onShow" data-after-show="app.reporteApaEnce.afterShow"
    id="reporteApaEnceScreen" class="screen" data-before-show="app.reporteApaEnce.inicializa" >
    <header data-role="header">
        <div data-role="navbar" class="header-text"><span data-role="view-title"></span>
        <h1><b><span id="NoOrdenAE1" class="km-view-subtitle"></span></b></h1>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-align="right" class="fa fa-reply" onclick="regresoAPAE();"  aria-hidden="true" data-role="button"></a>
        </div>
    </header>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBdZc5ri76SB2GKaxVVtyBgXXEjLWnz94&callback=initMapRA">
    </script>
    <ul class="form-content" data-role="listview" data-style="inset">
        <li id="objlist3" class="form-content-item">
            <div id="mapapen" class="mapView"></div>
        </li>
    </ul>
    <!-- END_CUSTOM_CODE_mntVehiculos -->
</div>