<!DOCTYPE html>
<div data-role="view" data-title="Términos y Condiciones" data-layout="main" data-model="app.termcon2" data-show="app.termcon2.onShow"
    data-after-show="app.termcon2.afterShow" id="termcon2Screen" class="screen" data-before-show="app.termcon2.inicializa"
    data-use-native-scrolling="true">
    <header data-role="header">
        <div data-role="navbar" class="header-text"><span data-role="view-title"></span>
            <h1><b><span id="NumeroChasisTC" class="km-view-subtitle"></span></b></h1>
            <a data-align="right" class="fa fa-reply" href="components/MenuKia/view.html" aria-hidden="true" data-role="button"></a>
        </div>
    </header>
    <div class="content" style=" padding: 30px 20px;" scrool>
        <form>
            <table>
            <tr><td align='center'><b>TERMINOS Y CONDICIONES</b></td></tr>
                <tr>
                
                  <td align='justify' style="overflow:scroll;">
                        <div align='justify'>
                            <p>
                            Al confirmar este servicio usted ratifica  su aceptación a los Términos y Condiciones acordados en el convenio de <b>Kia  Satelital</b> que se tiene suscrito, así como del consumo de datos y/o minutos, si  aplicase, con la empresa de telefonía celular o de datos que el cliente tuviese  contratado con el objetivo de brindar en tiempo real la información solicitada  en la aplicación <b>Kia  Satelital</b>. </p>
                            <p>Los comandos y acciones estarán disponibles de  acuerdo al contrato suscrito. <b>AEKIA S.A.</b> no se responsabiliza del mal uso de la  información y/o aplicación por el dueño del vehículo y/o sus familiares.</p>
<table width='100%' border='0'><tr>
                              <td align='center'>
                                <a onclick='onACEPTA()' style='font: bold 14px Arial; text-decoration: none; background-color:#C92A38; color: #ffffff;  padding: 2px 6px 2px 6px;  border-top: 1px solid #CCCCCC;  border-right: 1px solid #333333;  border-bottom: 1px solid #333333;  border-left: 1px solid #CCCCCC;'>ACEPTAR</a>
                                  
                              </td></tr></table>
                            
                      </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>