<div data-role="view" data-title="Catálogo Kia" data-layout="main" data-model="app.mntAgendarCita" data-show="app.mntAgendarCita.onShow"
    data-after-show="app.mntAgendarCita.afterShow" id="mntAgendarCitaScreen" class="screen" data-before-show="app.mntAgendarCita.inicializa"
    data-use-native-scrolling="true">
    <header data-role="header">
        <div data-role="navbar" class="header-text"><span data-role="view-title"></span><h1><b><span id="NumeroChasisCA" class="km-view-subtitle"></span></b></h1>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"
                data-icon="drawer-button"></a>
            <a data-align="right" class="fa fa-reply" onclick="salirCompra();" aria-hidden="true" data-role="button"></a>
        <!--href="components/MenuKia/view.html"-->
        </div>
    </header>
    <div id="contenedor" class="blanco">
       <!-- </br>
        <div>&emsp;
            <a href="http://www.kia.com/ec/showroom/picanto-r.html" target="_blank"> <img id="autokia1" src="resources/nuevopicantoR.png" style="border:3px solid white"> </a>
            <a href="http://www.kia.com/ec/showroom/rio-r-sedan.html" target="_blank"> <img id="autokia2" src="resources/rioRsedan.png" style="border:3px solid white" > </a>
            &emsp; 
        </div>
        </br>
        <div>&emsp;
            <a href="http://www.kia.com/ec/showroom/rio-r-hatchback.html" target="_blank"> <img id="autokia3" src="resources/rioRhatchback.png" style="border:3px solid white"> </a>
            <a href="http://www.kia.com/ec/showroom/cerato-forte.html" target="_blank"> <img id="autokia4" src="resources/ceratoForte.png" style="border:3px solid white"> </a>
            &emsp;
        </div>
        </br>
        <div>&emsp;
            <a href="http://www.kia.com/ec/showroom/cerato-koup.html" target="_blank"> <img id="autokia5" src="resources/ceratoKoup.png" style="border:3px solid white"> </a>
            <a href="http://www.kia.com/ec/showroom/kia-quoris.html" target="_blank"> <img id="autokia6" src="resources/kiaQuoris.png" style="border:3px solid white"> </a>
            &emsp;
        </div>
        </br>
        <div>&emsp;
            <a href="http://www.kia.com/ec/showroom/optima-hibrido.html" target="_blank"> <img id="autokia7" src="resources/optimaHibrido.png" style="border:3px solid white"> </a>
            <a href="http://www.kia.com/ec/showroom/nuevo-niro-hibrido.html" target="_blank"> <img id="autokia8" src="resources/nuevonirohibrido.png" style="border:3px solid white"> </a>
        </div>
        </br>
        <div>&emsp;
            <a href="http://www.kia.com/ec/showroom/soul-r.html" target="_blank"> <img id="autokia9" src="resources/soulR.png" style="border:3px solid white"> </a>
            <a href="http://www.kia.com/ec/showroom/soul-ev.html" target="_blank"> <img id="autokia10" src="resources/soulEv.png" style="border:3px solid white"> </a>
        </div>
        </br>
        <div>&emsp;
            <a href="http://www.kia.com/ec/showroom/sportage-active.html" target="_blank"> <img id="autokia11" src="resources/sportageActive.png" style="border:3px solid white"> </a>
            <a href="http://www.kia.com/ec/showroom/sportage-r.html" target="_blank"> <img id="autokia12" src="resources/sportageR.png" style="border:3px solid white"> </a>
        </div>
        </br>
        <div>&emsp;
            <a href="http://www.kia.com/ec/showroom/nuevo-sportage.html" target="_blank"> <img id="autokia13" src="resources/nuevoSportage.png" style="border:3px solid white"> </a>
            <a href="http://www.kia.com/ec/showroom/nuevo-sorento.html" target="_blank"> <img id="autokia14" src="resources/nuevosorento.png" style="border:3px solid white"> </a>
        </div>
        </br>
        <div>&emsp;
            <a href="http://www.kia.com/ec/showroom/carens-r.html" target="_blank"> <img id="autokia15" src="resources/carensR.png" style="border:3px solid white"> </a>
            <a href="http://www.kia.com/ec/showroom/grand-carnival-r.html" target="_blank"> <img id="autokia16" src="resources/grandCarnivalR.png" style="border:3px solid white"> </a>
        </div>
        </br>
        <div>&emsp;
            <a href="http://www.kia.com/ec/showroom/k3000.html" target="_blank"> <img id="autokia17" src="resources/k3000.png" style="border:3px solid white"> </a>
        </div>-->
    </div>
</div>