<div data-role="view" data-title="Reporte Recorrido Vehículo" data-layout="main" data-model="app.fechaReco" data-show="app.fechaReco.onShow" data-after-show="app.fechaReco.afterShow"
    id="fechaRecoScreen" class="screen" data-before-show="app.fechaReco.inicializa" data-use-native-scrolling="true" > 
    <header data-role="header">
        <div data-role="navbar" class="header-text"><span data-role="view-title"></span>
        <h1><b><span id="NoOrdenRA" class="km-view-subtitle"></span></b></h1>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"
                data-icon="drawer-button"></a>
            <a data-align="right" class="fa fa-reply" onclick="regresaREC()" aria-hidden="true" data-role="button"></a>
        </div>
    </header>
    <div data-role="content">
        <div class="container">
            <form class="form-horizontal" id="fec">
                <table style="text-align: center;">
                    <tr>
                        <td>
                            <div class="form-group"><label id="myLabel" for="male"><spam><b>Fecha Recorrido</b></spam></label>
                                <div class="col-xs-12"><input id="FechaRecor" class="Fields" style="width: 75%;" align="center" placeholder="Fecha" onkeyup="javascript:this.value='';"></div>
                            </div>
                        </td>
                       <!-- <td>
                            <div class="form-group">&nbsp;&nbsp;&nbsp;&nbsp;Fecha Fin
                                <div class="col-xs-12"><input id="FechaFin" style="width: 75%;" align="center" placeholder="Fecha Fin" onkeyup="javascript:this.value='';"></div>
                            </div>
                        </td>-->
                    </tr>
                    <tr>
                        <td colspan=2>
                            <div class="form-group"> <button id="btnConsultarFecha" class="btn btn-danger fondoRojo" data-role="button" onclick="llamarconsultarRC();">Consultar</button></div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>