<div data-role="view" data-title="Ordenes de Trabajo en Curso" data-layout="main" data-model="app.mntHistorialVin" data-show="app.mntHistorialVin.onShow"
    data-after-show="app.mntHistorialVin.afterShow" id="mntHistorialVinScreen" class="screen" data-before-show="app.mntHistorialVin.inicializa"
    data-use-native-scrolling="true">
    <header data-role="header">
        <div data-role="navbar" class="header-text"><span data-role="view-title"></span>
            <h1><b><span id="NumeroChasisOTC" class="km-view-subtitle"></span></b></h1>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-align="right" class="fa fa-reply" href="components/miKia/view.html" aria-hidden="true" data-role="button"></a>
        </div>
    </header>
    <div id="gridMC" data-role="content" style="display:none">
        <div class="centrar"><b><span style="color:red;">Servicio de Mecánica</span></b></div>
        <div id="listViewHV"></div>
    </div><br/>
    <div id="histrialOT" data-role="content" style="display:none">
        <form class="form-horizontal1">
            <table width="250px" border align="center" class="table1">
                <tr>
                    <td class="clase">
                        <div class="form-group1">
                            <div class="col-xs-12"><b>Recibido</b>&nbsp;
                                <!--<input type="text" value="Recibido" style="width: 90%;background-color:white;" align="center" disabled display="none"></b>&nbsp;</input>-->
                                <b>
                                 <td style="width: 20%">   
                              <span style="float:center"><input type="text" id="colorRE" style="width: 100%; color:#FFF;"  disabled></span>
                              </td>
                              </b> </div>
                            <td class="clase">
                                <span style="float:right"><i id="vistoRE" class="fa fa-check" aria-hidden="true" style="color:#eaeaea;width: 25%;"></i></span>
                            </td>
                        </div>
                    </td>
                    <!--<td class="clase">
                        <span style="float:center"><i id="vistoRE1" onclick="observacion()" class="fa fa-eercast" aria-hidden="true" style="color:#eaeaea;width: 25%;"></i></span>
                    </td>-->
                </tr>
                <tr>
                    <td class="clase">
                        <div class="form-group1">
                            <div class="col-xs-12"><b>Trabajando</b>
                                <!--<input type="text" value="Trabajando" style="width: 90%;" align="center" disabled></b>&nbsp;&nbsp;</input>-->
                                <b>
                              <td style="width: 20%"><span style="float:center"><input id="colorTR" type="text" style="width: 100%; color:#FFF;" disabled></span></td>
                              </b> </div>
                            <td class="clase">
                                <span style="float:right"><i id="vistoTR" class="fa fa-check" aria-hidden="true" style="color:#eaeaea;display:none; width: 25%;"></i></span>
                            </td>
                        </div>
                    </td>
                    <!--<td class="clase"><i id="vistoTR1" onclick="observacion()" class="fa fa-eercast" aria-hidden="true" aria-hidden="true" style="color:#eaeaea;display:none; width: 25%;"></i></td>-->
                </tr>
                <tr>
                    <td class="clase">
                        <div class="form-group1">
                            <div class="col-xs-12"><b>Lavado</b>
                                <!--<b><input type="text" value="Lavado" style="width: 90%; background-color:white;" align="center" disabled></b>&nbsp;&nbsp;</input>-->
                                <b>
                              <td style="width: 20%"><input id="colorLA" type="text" style="width: 100%; color:#FFF;" align="center" disabled></span></td>
                              </b> </div>
                            <td class="clase">
                                <span style="float:right"><i id="vistoLA" class="fa fa-check" aria-hidden="true" style="color:#0C0;display:none; width: 25%;"></i></span>
                            </td>
                        </div>
                    </td>
                    <!--<td class="clase"><i id="vistoLA1" onclick="observacion()" class="fa fa-eercast" aria-hidden="true" style="color:#0C0;display:none; width: 25%;"></i></td>-->
                </tr>
                <tr>
                    <td class="clase">
                        <div class="form-group1">
                            <div class="col-xs-12"><b>Control de Calidad</b>
                                <!--<input type="text" value="Control de Calidad" style="width: 90%;" align="center" disabled></b>&nbsp;&nbsp;</input>-->
                                <b>
                              <td <td style="width: 20%">
                                  <span style="float:center"><input id="colorCO" type="text" style="width: 100%; color:#FFF;" align="right" disabled></span></td>
                              </b> </div>
                            <td class="clase">
                                <span style="float:right"><i id="vistoCO" class="fa fa-check" aria-hidden="true" style="color:#0C0;display:none; width: 25%;"></i></span>
                            </td>
                        </div>
                    </td>
                    <!--<td class="clase"><i id="vistoCO1" onclick="observacion()" class="fa fa-eercast" aria-hidden="true" style="color:#0C0;display:none; width: 25%;"></i></td>-->
                </tr>
                <tr>
                    <td class="clase">
                        <div class="form-group1">
                            <div class="col-xs-12"><b>Vehículo listo</b>
                                <!--<b><input type="text" value="Vehículo listo" style="width: 90%;" align="right" disabled></b>&nbsp;&nbsp;</input>-->
                                <b>
                              <td style="width: 20%"><span style="float:center"><input id="colorLT" type="text" style="width: 100%; color:#FFF;" align="right" disabled></span></td>
                              </b> </div>
                            <td class="clase">
                                <span style="float:center"><i id="vistoLT" class="fa fa-check" aria-hidden="true" style="color:#0C0;display:none; width: 25%;"></i></span>
                            </td>
                        </div>
                    </td>
                    <td class="clase"> <i id="vistoLT1" onclick="observacion()" class="fa fa-eercast" aria-hidden="true" style="color:#0C0;display:none; width: 25%;"></i></td>
                </tr>
            </table>
        </form>
    </div> <br/>
    <div id="logo" class="centrar"> <img id="autokia1" src="resources/LogoKIa1.png" style="border:3px solid white"> </div>
    <div id="gridCL" data-role="content"
        style="display:none">
        <div class="centrar"><b><span style="color:red; align:center;">Servicio de Colisión</span></b></div>
        <div id="listViewHVC"></div>
    </div>
    <div id="historialOT1" data-role="content" style="display:none">
        <form class="form-horizontal1">
            <table width="250px" border align="center" class="table1">
                <tr>
                    <td class="clase">
                        <div class="form-group1">
                            <div class="col-xs-12"><b>Proformado</b>
                                <!--<b><input type="text" value="Proformado" style="width: 70%; " align="center" disabled></b>&nbsp;&nbsp;</input>-->
                                <b>
                              <td style="width: 20%"><span style="float:center"><input type="text" id="colorPRO" style="width: 100%; color:red; " disabled></span></td>
                              </b></div>
                              <td class="clase"><span style="float:center"><i id="vistoPRO" class="fa fa-check" aria-hidden="true" style="color:#eaeaea; width: 25%;"></i></span></td>
                        </div>
                    </td>
                    <!--<td class="clase"><i id="vistoPRO1" onclick="observacion1()" class="fa fa-eercast" aria-hidden="true" style="color:#eaeaea; width: 25%;"></i></td>-->
                </tr>
                <tr>
                    <td class="clase">
                        <div class="form-group1">
                            <div class="col-xs-12"><b>Lavado</b>
                                <!--<b><input type="text" value="Lavado" style="width: 70%;" align="right" disabled></b>&nbsp;&nbsp;</input>-->
                                <b>
                              <td style="width: 20%"><span style="float:center"><input id="colorLVA" type="text" style="width: 100%;" disabled></span></td>
                              </b></div>
                              <td class="clase"><span style="float:center"><i id="vistoLVA" class="fa fa-check" aria-hidden="true" style="color:#eaeaea;display:none; width: 25%;"></i></span></td>
                        </div>
                    </td>
                    <!--<td class="clase"><i id="vistoLVA1" onclick="observacion1()" class="fa fa-eercast" aria-hidden="true" style="color:#eaeaea;display:none; width: 25%;"></i></td>-->
                </tr>
                <tr>
                    <td class="clase">
                        <div class="form-group1">
                            <div class="col-xs-12"><b>Control de Calidad</b>
                                <!--<b><input type="text" value="Control de Calidad" style="width: 70%; " align="center" disabled></b>&nbsp;&nbsp;</input>-->
                                <b>
                              <td style="width: 20%"><span style="float:center"><input id="colorCCC" type="text" style="width: 100%; " disabled></span></td>
                              </b></div>
                              <td class="clase"><i id="vistoCCC" class="fa fa-check" aria-hidden="true" style="color:#0C0;display:none; width: 25%;"></i></span></td>
                        </div>
                    </td>
                    <td class="clase"><i id="vistoCCC1" onclick="observacion1()" class="fa fa-eercast" aria-hidden="true" style="color:#0C0;display:none; width: 25%;"></i></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<style>
    .table1 {
        border-collapse: separate;
        border: solid #999 1px;
        border-radius: 10px;
        border-spacing: 5px;
        -moz-border-radius: 10px;
        width: 280px;
        background-color: #EAEAEA;
    }
    
    .td1,
    .th1 {
        border-left: none;
        border-top: none;
    }
    
    .th1 {
        border-top: none;
    }
    
    .td1:first-child,
    .th1:first-child {
        border-left: none;
    }
    
    .centrar {
        text-align: center;
    }
</style>