<!DOCTYPE html>
<div data-role="view" data-title="Reporte Cerca Virtual" data-layout="main" data-model="app.reporteGeocercas" data-show="app.reporteGeocercas.onShow"
    data-after-show="app.reporteGeocercas.afterShow" id="reporteGeocercasScreen" class="screen" data-before-show="app.reporteGeocercas.inicializa">
    <header data-role="header">
        <div data-role="navbar" class="header-text"><span data-role="view-title"></span>
            <h1><b><span id="NoOrdenGC" class="km-view-subtitle"></span></b></h1>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-align="right" class="fa fa-reply" onclick="regresaGC()" aria-hidden="true" data-role="button"></a>
            <!--<a data-align="right" class="fa fa-sign-out" onclick="logoutMenu()" aria-hidden="true" data-role="button"></a>href="components/MenuAlertas/view.html"--></div>
    </header>
    <div data-role="content">
        <div class="container">
            <form class="form-horizontal">
                <table style="text-align: center;">
                    <tr>
                        <td>
                            <div class="form-group">
                                <b>Fecha Inicio</b>
                                <div class="col-xs-12">
                                    <input id="FechaInicioGC" class="Fields" style="width: 75%;" align="center" placeholder="Fecha Inicio"
                                           onkeyup="javascript:this.value='';">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <b>Fecha Fin</b>
                                <div class="col-xs-12">
                                    <input id="FechaFinGC" class="Fields" style="width: 75%;" align="center" placeholder="Fecha Fin"
                                           onkeyup="javascript:this.value='';">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=2>
                            <div class="form-group"> <button id="btnConsultarGC" class="btn btn-danger fondoRojo" data-role="button" onclick="llamarcoordenadasGC();">Consulta</button>                                </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="listViewGC"></div> <br/> 
    </div>
    <footer>
        <div>
            <!--<p style="text-align:justify; font-family:verdana; color:#bb162b;font-size:100%;">Por favor llamar a 1800 KIA KIA para definir su nueva cerca virtual, o ingrese a
                <a id="estadoM" href="http://www.kia.com/ec/main.html">
                    <spam style="color:red;font-size:100%">&nbsp; www.kia.com.ec</spam>
                </a> </p>-->
        </div>
    </footer>
</div>